@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
}

.form-container {
    width: 600px; 
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px; 
}

.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-weight: 600;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    color: #333;
    margin-bottom: 6px;
    margin-top: 15px;
}

input[type="text"],
select,
textarea,
input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border 0.2s ease;
    font-size: 14px;
}

textarea {
    min-height: 200px;
    resize: vertical;
}

input[type="text"]:focus,
select:focus,
textarea:focus,
input[type="file"]:focus {
    border-color: #007bff;
    outline: none;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


.table-content{
    margin-top: 20px;
}
.table-wrapper {
    margin-top: 40px;
    overflow-x: auto;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin-top: 10px;
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid #e1e1e1;
    text-align: left;
}

table th {
    background-color: #f0f0f0;
    color: #333;
    font-weight: 600;
}

.actions a {
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    margin-right: 5px;
}

.actions .edit {
    background-color: #28a745;
}

.actions .delete {
    background-color: #dc3545;
}

.actions a:hover {
    opacity: 0.85;
}