body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #0c356a, #0174be);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s ease;
}

.container:hover {
  transform: scale(1.01);
}


.signup-form label {
  display: block;
  margin-bottom: 4px;
  color: #0c356a;
  font-weight: 500;
}

.signup-form input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.2s ease-in-out;
}

.signup-form input:focus {
  border-color: #e6a600;
  outline: none;
}

.signup-form button {
  width: 100%;
  padding: 12px;
  background-color: #0c356a;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.signup-form button:hover {
  background-color: #e6a600;
  color: #0c356a;
}
