.container-rr {
    max-width: 80%;
    margin: auto;
    position: relative;
}

.footer {
    margin-top: 2vw;
    background-color: #F8F6F4;
    padding: 27px 0 15px 0;
}

.logos {
    display: flex;
    justify-content: center;
    padding: 0 0 15px 0;

}

.social-logos {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bottom .links-footer a {
    text-decoration: none; 
    color: gray;           
}

.bottom .links-footer a:hover {
    text-decoration: underline; 
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 103px;
    padding: 10px 0 0 0;
}

.copyright p{
    color: #8D8C8C;
    font-size: 1vw;
}

.links-footer {
    display: flex;
    gap: 15px;
}
.links a{
    color: #8D8C8C;
}
body{
    margin: 0;
}
