@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --blue: #0C356A;
    --lightblue: #0174BE;
    --yellow:#FFC436;
    --lightyellow: #FFF0CE;
}

*{
    font-family:  "Montserrat", sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p{
    font-size: 18px;
}

header{
    min-height:52vw;
    background-image: url("../Photos/Home/cover.jpg");
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    box-sizing: border-box;
    padding: 0 8vw;
    z-index: 1;
    box-shadow: gray 0px 0px 8px 3px;
    position: relative;
    margin-bottom: 14vw;
}

.easterEgg{
    position: absolute;
    left: 83vw;
    top: 18vw;
    width: 3vw;
    height: 3vw;
}
.easterEgg:hover{
    box-shadow: gray 0px 0px 10px 10px;
}

.title-text{
    width: 80%;
    height: fit-content;
    position: relative;
    top: 12vw;
    color: white;
}

.title-text h3 {
    font-size: 2vw; 
}

.title-text #title-main {
    font-size: 4vw; 
}

.title-text #title-second {
    font-size: 2.5vw;
    color: var(--yellow);
}

.flash-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
    top: 26vw;
    left: 50%;
    transform: translateX(-50%);
}

.flashcard{
    width: 26%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 20px;
    box-shadow: lightgray 0px 0px 8px 3px;
    transition: all 0.3s ease; 
    margin-bottom: 10vw;
}
.flashcard:hover{
    transform: translateY(-15px);
}

.flashcard img{
    width:55%;
    height: auto;
    margin-bottom: 1vw;
}

.flashcard h2{
    font-size: 2vw;
    color: var(--lightblue);
    text-decoration: underline var(--yellow) 4px;
    margin-bottom: 15px;
}

.flashcard p{
    text-align: center;
    font-size: 1.3vw;
}

.section-title{
    font-size: 2.6vw;
    color: var(--lightblue);
    text-decoration: underline var(--yellow) 4px;
    margin: 4vw 0 2vw 0;
}

/* ----------- EXPERIENCES -------- */
.bg-container{
    background-image: url("../Photos/Home/bg-cover4.jpg"), url("../Photos/Home/bg-cover5.jpg");
    background-repeat:no-repeat, no-repeat;
    background-position:  -10% 40%, bottom right;
    background-size:100vh 95vw, 60vh 55vw;
    background-origin: border-box;
    filter: blur();
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experience{
    box-sizing: border-box;
    width: 87%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experience .experience-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    height: 4vw;
    border-radius: 15px;
    overflow: hidden;
}

#experience .experience-filter div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 49.5%;
    height: inherit;
}
#experience .experience-filter div:hover{
    cursor: pointer;
}

#experience .experience-filter p{
    font-size: 1.3vw;
}
#experience .experience-filter i{
    font-size: 1.8vw;
}

.exp-photo-container{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
    gap: 2vw;
    padding-top: 8vh;
    transition: all 0.5s ease-in-out;
}

.exp-photo{
    width: 15vw;
    border-radius: 5%;
    height: 20vw;
    position: relative;
    box-shadow: gray 0 0 6px 5px;
    transition: transform 0.5s ease-in-out;
    background-position: -15px ;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: start;
    align-items: end;
    padding-bottom: 7px;
    transition: all 0.3s ease-in-out;
}
.exp-photo:hover{
    transform: translateY(-15px);
    transform: scale(1.05);
    box-shadow: var(--lightblue) 0 0 25px 5px;  
}


.exp-photo p{
    font-weight: 500;
    font-size: 0.9vw;
    color: white;
    padding: 0 10px;
    background-color: #0176be6e;
    margin: 0 5px;
    border-radius: 12px;
    text-shadow: 0px 0px 5px 5px var(--blue);
    border: var(--lightblue) 3px solid;
}


@keyframes fadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.airport.active{
    display:grid;
    animation: fadeIn 0.7s;
}

.airport{
    display: none;
}

#plane{
    background-color: #69a8cf;
    color: var(--blue);
}

#plane.active{
    background-color:var(--blue);
    color: white;
}

.city{
    display: none;
}

.city.active{
    display: grid;
    animation: fadeIn 0.7s;
}

#city{
    background-color: #69a8cf;
    color: var(--blue);
}
#city.active{
    background-color:var(--blue);
    color: white;   
}
  
/* ----------------------PARTNERS----------------------- */

#partners{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw;

}

.partners-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto) ;
    gap: 30px;
}

@keyframes fadeTextIn {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: block;
    }
}
@keyframes fadeTextout{
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity:0 ;
        display: none;
    }
}

.partners-child{
    width: 17vw;
    border-radius: 5%;
    height: 20vw;
    position: relative;
    box-shadow: lightgray 0 0 6px 5px;
    transition: transform 0.5s ease-in-out;
    background-position: -15px ;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    animation: fadeTextout 0.5s;   
    background-color: white;
}
.partners-child p{
    position: absolute;
    color: white;
    font-size: 2.2vw;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    text-align: center;
    animation: fadeTextout 0.3s ;
    display: none;
}

.partners-child .blueshade{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: #0c356ad4;
    position: absolute;
    transition: all 0.3s ease-in-out;
    animation: fadeTextout 0.5s ;
    display: none;
}

.partners-child:hover {
    box-shadow: var(--lightblue) 0 0 25px 5px;
}
.partners-child:hover .blueshade{
    display: block;
    animation: fadeTextIn 0.5s ;
}
.partners-child:hover p{
    display: block;
    animation: fadeTextIn 0.7s ;
}

.partners-child img{
    width: 80%;
    border-radius: 5%;
}

/* ---------PARKING CALCULATOR---------------- */

#parkingCalc{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#parkingCalc .parking-container{
    width: 95%;
    background-image: linear-gradient(to left bottom, #0c356a, #0e4079, #104b88, #0f5798, #0c63a8, #3c72b5, #5882c1, #7192ce, #9cabda, #c1c5e6, #e2e1f2, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 10px 30px;
    box-shadow: lightgray 0 0 6px 5px;
    transition: all ease-in-out 0.3s;
}
#parkingCalc .parking-container:hover{
    box-shadow: var(--lightblue) 0 0 25px 5px;
}
.parking-container p{
    color: var(--blue);
    font-size: 1vw;
}

.parking-prices{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parking-prices table{
    width: 80%;
    border-collapse: separate;
    border-spacing: 10px;
    border: 3px solid transparent; 
    border-radius: 20px; 
    padding: 0 20px;
}
    
table tr td:first-child{
    text-align: right;
}
table tr td:last-child{
    text-align: left;
}

table td{
    background-color: transparent;
    border-bottom: var(--blue) 3px solid;
    width: 50%;
    padding: 7px 15px;
    font-size: 1.2vw;
}


.parking-calculator{
    width: 40%;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.parking-calculator #sub-container{
    width: 100%;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

#sub-container input{
    width: 12vw;
    height: 2vw;
    margin-bottom: 1.5vw;
    border-radius: 10px;
    border: none;
}
#sub-container label{
    font-size: 1.2vw;
    margin-bottom: 0.2vw;
}
.parking-calculator div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.parking-calculator p{
    font-weight: bold;
    font-size: 1.8vw;
    display: none;
    transition: all 0.3s ease-out;
}
.parking-calculator p.showQmimi{
    display: block;
    color: var(--yellow);
    animation: fadeTextIn 0.3s;
    transform: translateY(15px);
}

.parking-calculator p.wrong{
    display: block;
    color: red;
    animation: fadeTextIn 0.3s;
    transform: translateY(15px);
}
#btn-parking{
    width: 15vw;
    height: 3vw;
    border-radius: 10px;
    border: none;
    font-size: 1.2vw;
    font-weight: bold;
    color: var(--blue);
    background-color: white;
    transition: all 0.5s ease-in-out;
}
#btn-parking:hover{
    transform: scale(1.05);
    background-color: var(--blue);
    color: white;
}

.parking-input{
    transition: all 0.3s ease-in-out;
}
.parking-input.fieldNull{

    box-shadow: red 0 0 7px 2px;
}


/* --------------------VIDEO----------------------- */

#orientationVideo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 3vw;
}


#orientationVideo .orient-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#orientationVideo .orient-photo {
    background-image: url("../Photos/Home/Limak\ Visit\ Kosovo_WEB.jpg");
    background-position: -2.5vw center;
    background-repeat: no-repeat;
    background-size: 50vw 35vw;
    width: 60%; 
    height: 30vw; 
    clip-path: polygon(0 0, 95% 0, 65% 100%, 0 100%);
    filter:drop-shadow( lightgray 0 0 6px 5px);
    position: relative;
    left: -5vw;    
}


#orientationVideo .orient-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.orient-video video{
    box-shadow: lightgray 0 0 6px 5px;
}

#footer-placeholder{
    position: relative;
    bottom: 0;
    margin-top: 2vw;
    
}


