@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --blue: #0C356A;
    --lightblue: #0174BE;
    --yellow:#FFC436;
    --lightyellow: #FFF0CE
}

*{
    font-family:  "Montserrat", sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: transparent;
}

@keyframes in {
    0% {background-color:none; color:var(--yellow);box-shadow : none;}
    100% {background-color:white; color:var(--blue); box-shadow : 0px 0px 5px 3px gray;}
}
@keyframes out {
    0% {background-color:white; color: var(--blue); box-shadow : 0px 0px 5px 3px gray;}
    100% {background-color:none; box-shadow : none; color: var(--yellow); }
}

.nav-container{
    display:flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    width: 100%;
    max-width: unset !important;
    min-height: 75px;
    box-sizing: border-box;
    background-color: none;
    padding: 0px 8vw ;
    color: var(--yellow);
    animation-name: out;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 2;
}

.nav-container.scroll{
    animation-name: in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.nav-container:hover{
    animation-name: in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.image{
    min-width: 23%;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    

}
.image img{
    object-fit:contain;
}

#logo1{
    width: 17.5% ;
    max-height:55px;
}

#logo-text{
    font-size: 1.7vw ;
}

.linkat{
    width: 55%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.linkat a{
    color: inherit;
    font-size:1.2vw ;
    font-weight: 500;
    text-decoration: none;
}

.lines{
    width: 4vw;
    height: 24px;
    display: none;
}
.line{
    width: 80%;
    height: 2.5px;
    background-color: var(--yellow);
}

@media (max-width: 750px){
    .nav-container{
        width: 100%;
        min-height: 70px;
        box-shadow: lightgray 0 0 6px 5px; 
    }
    #logo-text{
        font-size: 1.3rem ;
    }
    
    .links{
        width: 100vw;
        height: 65vmax;
        background-color: var(--blue);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top:70px ;
        left: 0; 
        padding: 10px 0;
    }

    .links a{
        color: white;
        font-size:3vw ;
        font-weight: 500;
        text-decoration: none;
    }

    .lines{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 30px;
    }
    .lines:checked .nav-container{
        background-color: white;
    }
    .lines:checked .line{
        background-color: var(--blue);
    }
}